@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Playwrite DE Grund", "cursive";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

/*header*/
header .title {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    background-color: rgb(148, 109, 59);
}

header .description {
    padding: 10px 5px 30px 5px;
    font-size: 17px;
    height: 120px;
}

/*main section*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    position: relative;
}

.bg-image {
    background-image: url("../images/board3.png");
    background-position: center;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 500px;
    opacity: 0.5;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Form section or Registartion updation section*/
.form {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 500px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.form .fields {
    width: 300px;
    padding-bottom: 15px;
}

.form input {
    width: inherit;
    height: 30px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: rgb(171, 235, 171);
}
.form input:focus {
    outline: none;
    border-bottom: 1px solid greenyellow;
}

.form .btn{
    width:100%;
    background-color: transparent;
    height: 30px;
    font-size: 18px;
    font-weight: 900;
    font-family: "Playwrite DE Grund", cursive;
    border: none;
    cursor:pointer;
    color: beige;
}
.form .btn:hover{
    color: greenyellow;
}

#updateBtn {
    display: none;
    pointer-events: none;
}
#cancleBtn {
    display: none;
    pointer-events: none;
}
#cancleBtn:hover {
    color: red;
}

/* Table section or Display section*/
.table {
    position: relative;
    display: flex;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: flex-start;
    width: 50%;
}

.table h2 {
    text-align: center;
    padding-bottom: 20px;
    width: 100%;
}

.scroll-box {
    height: 360px;
    width: 80%;
}

.scrollable{
    overflow-y: scroll;
}

.scroll-box::-webkit-scrollbar {
    width: 10px;
}

.scroll-box::-webkit-scrollbar-track {
    border: white 1px solid;
    border-radius: 10px;
    color: #2eb2ea;
}

.scroll-box::-webkit-scrollbar-thumb {
    background-color: grey;
    border: 1px solid white;
    border-radius: 10px;
}

#main-table {
    margin: auto;
    max-width: 100%;
}

#main-table th {
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    padding-left: 5px;
    text-align: left;
    background-color: #253D2D;
    color: greenyellow;
}

#main-table th,
tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

.edit,
.remove{
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}
.remove:hover{
    color: red;
}
.edit:hover{
    color: greenyellow;
}

/*footer section*/
footer {
    background-color: grey;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}